img
{
	display: block;
	border-radius: 500px;
}

a
{
	text-decoration: none;
}


.content
{
	margin-top: 35px;
	width: 1340px;
	margin-left: auto;
	margin-right: auto;
	transition: 1s;
}

.back
{
	transition: 0.5s;
	width: 50px;
	border-radius: 4px;
}

.back:hover
{
	background: #000;
}

.photo
{
	width: 670px;
	height: 670px;
	display: inline-block;
	transition: 1s;
}

.description
{
	vertical-align: top;
	font-family: Bebas Neue,sans-serif;
	font-size: 45px;
	margin-top: 0;
	margin-left: 50px;
	display: inline-block;
	transition: 1s;
	height: 670px;
}

.price
{
	font-size: 40px;
	transition: 1s;
}

.size
{
	vertical-align: bottom;
	margin-top: 50px;
	font-size: 21px;
	transition: 1s;
}

.shop
{
	vertical-align: bottom;
	margin-top: 20px;
	text-align: center;
	border: 2px solid #000;
	padding-top: 10px;
	padding-bottom: 10px;
	padding: 10, 12px;
	background: #fff;
	border-radius: 4px;
	color: #000;
	font-size: 21px;
	transition: 0.5s;
	margin-bottom: 0;
}

.shop:hover
{
	background: #000;
	color: #fff;
}